@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="height:120px;">
    <br />
    <div class="col-md-8">
        <h2>Landing page - visible to everyone</h2><br/>
        <p class="lead">Here you will find resources like: text, audio and video for your classes.</p><br />
        <p><a href="account/login" class="btn btn-primary btn-lg">Please Log in &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Assets/YouthStudio.jpg" alt="" style="width:100%;" />
    </div>
</div>

